.feature_area {
    @media #{$xs}{
        padding: 90px 0 60px 0;
    }
    & .back_title {
        @include back_background( #eee, #eee);
        text-transform: lowercase;
    }
}

.feature {
    &__img {
        & img {
            max-width: inherit;
        }
    }
    &__content {
        padding-left: 30px;
        & h4 {
            font-weight: 700;
            @include transition(0.5s);
            margin-bottom: 15px;
            &:hover {
                color: $theme-color;
            }
        }
        & p {
            margin-bottom: 10px;
            padding-right: 12px;
        }
        & a {
            font-weight: 700;
            &:hover {
                color: $theme-color;
            }
        }
    }
}