@mixin transition($time) {
    transition: all $time ease-out 0s;
    -webkit-transition: all $time ease-out 0s;
    -moz-transition: all $time ease-out 0s;
    -ms-transition: all $time ease-out 0s;
    -o-transition: all $time ease-out 0s;
}

@mixin transfrom($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

@mixin border-radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}

@mixin absolute-value {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}

@mixin back_background($color1, $color2) {
    background: -webkit-linear-gradient( $color1, $color2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}