/* ############################################################################
###############################################################################
Theme Font Family Variable
###############################################################################
############################################################################ */

$poppins: 'Poppins',
sans-serif;
$opensans: 'Open Sans',
sans-serif;
$merri: 'Merriweather',
serif;

/* ############################################################################
###############################################################################
Theme Color Variable
###############################################################################
############################################################################ */

$white-color: #ffffff;
$black-color: #222;
$grey-color:#f9f9f9;
$theme-color: #ec6e39;
$heading-color: #121121;
$body-text-color: #899399;
$span-text-color: #8d8db4;
$btn-border-color: #d0d6d9;
$hr-border-color:#f8f8f8;
$sermon-color: #dad9ec;

/* ############################################################################
###############################################################################
Theme Responsive Variable
###############################################################################
############################################################################ */

$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';